            <footer id="sticky-footer" >
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-md-2">
                    <!-- <img src="assets/images/logo.png" alt="logo" style="width:70px;"> -->
                    </div> 
                    <div class="col-md-8">
                    &copy; Radiant Cash Management Services Pvt Ltd.
                    </div> 
                    <div class="col-md-2">
                    Terms | Conditions
                    </div> 
                </div>
            </div>

            </footer>