.form-control {
    font-size: 12px;
    height: 25px;
    padding: 2px;
    border-radius: 5px;
    }
    .btn.btn-sm{
    padding: 5PX 14PX;
    font-size: 0.64rem;
    }
    
    .form-control1{
    font-size: 12px;
    height: 28px;
    padding: 0px;
    width: 100%;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    label{
    font-size: 11px;
    font-weight: 400;
    margin-top: 6px;
    }
    mat-form-field {
    margin-right: 12px;
    }
   
    table thead th{
    background: #1b536e;
    color: white;
    font-size: 13PX;
    font-weight: 500;
    }
    .table_import{
    width: 100%;
    }
   
    .table_import tr:first-child {
    background:#1b536e;
    color: white !important;
    }
   
    .table_import tr:first-child td{
    color: white !important;
    }
    table td{ 
    padding: 3px;
    font-size: 12px;
    color: black;
    
    }
    table{
    border-collapse: unset !important;
    }
    .mat-datepicker-content .mat-calendar {
    width: 230px !important;
    height: 260px !important;
    }
    
    ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle { 
    background-color: #222d32!important; /*inner circle color change*/ }
    ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked 
    .mat-radio-outer-circle { border-color :#222d32 !important; /*outer ring color change*/ }
    