<div id="page-wrapper">
    <div class="main-page">
    
    <div class="row">
        <div class="col-md-2 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-dollar icon-rounded"> <i  style="color:white;" class="material-icons" > event_note</i></i>
                    <div class="stats">
                      <h5><strong>786</strong></h5>
                      <span>Total transactions</span>
                    </div>
                </div>
          </div>
          <div class="col-md-2 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-laptop user1 icon-rounded"> <i  style="color:white;" class="material-icons" > event_available</i></i>
                    <div class="stats">
                      <h5><strong>501</strong></h5>
                      <span>Total recipt Upload</span>
                    </div>
                </div>
          </div>
          <div class="col-md-2 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-money user2 icon-rounded"> <i  style="color:white;" class="material-icons" > event_busy</i></i>
                    <div class="stats">
                      <h5><strong>285</strong></h5>
                      <span>Total recipt Pending</span>
                    </div>
                </div>
          </div>
          <div class="col-md-2 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-pie-chart dollar1 icon-rounded"> <i  style="color:white; " class="material-icons" > person</i></i>
                    <div class="stats">
                      <h5><strong>6078</strong></h5>
                      <span>Total CE's</span>
                    </div>
                </div>
           </div>
          <div class="col-md-2 widget">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-users dollar2 icon-rounded"> <i  style="color:white; " class="material-icons" > people_alt</i></i>
                    <div class="stats">
                      <h5><strong>1450</strong></h5>
                      <span>Total Users</span>
                    </div>
                </div>
           </div>
        <div class="clearfix"> </div>
      
          <div class="col-md-4 compose-left">
            <h2 class="title1">Mail Page</h2>
            <div class="folder widget-shadow">
              <ul>
                <li class="head"><i class="fa fa-folder" aria-hidden="true"></i>Folders</li>
                <li><a href="inbox.html"><i class="fa fa-inbox"></i>Inbox <span>52</span></a></li>
                <li><a href="#"><i class="fa fa fa-envelope-o"></i>Sent </a></li>
                <li><a href="#"><i class="fa fa-file-text-o"></i>Drafts <span>03</span></a> </li>
                <li><a href="#"><i class="fa fa-flag-o"></i>Spam </a></li>
                <li><a href="#"><i class="fa fa-trash-o"></i>Trash</a></li>
              </ul>
            </div>
            <div class="chat-grid widget-shadow">
              <ul>
                <li class="head"><i class="fa fa-user" aria-hidden="true"></i>Friends (Online) </li>
                <li><a href="#">
                    <div class="chat-left">
                      <label class="small-badge"></label>
                    </div>
                    <div class="chat-right">
                      <p>Alexander</p>
                      <h6>Nullam quis risus eget </h6>
                    </div>
                    <div class="clearfix"> </div> 
                  </a>
                </li>
                <li><a href="#">
                    <div class="chat-left">
                      <label class="small-badge bg-green"></label>
                    </div>
                    <div class="chat-right">
                      <p>Jackson jacob</p>
                      <h6>Urna mollis ornare vel</h6>
                    </div>
                    <div class="clearfix"> </div> 
                  </a>
                </li>
                <li><a href="#">
                    <div class="chat-left">
                      <label class="small-badge bg-green"></label>
                    </div>
                    <div class="chat-right">
                      <p>Elisa liden </p>
                      <h6>Quis risus ullam neget </h6>
                    </div>
                    <div class="clearfix"> </div> 
                  </a>
                </li>
                <li><a href="#">
                    <div class="chat-left">
                      <label class="small-badge"></label>
                    </div>
                    <div class="chat-right">
                      <p>Michael John</p>
                      <h6>Mollis ornare Urna vel</h6>
                    </div>
                    <div class="clearfix"> </div> 
                  </a>
                </li>
              </ul>
            </div>
          </div>
          
  
          <div class="col-md-7 compose-right">
            <h2 class="title1">Mail Page</h2>
            <div class="panel-default  widget-shadow">
              <div class="panel-heading head">
                Inbox 
              </div>
              <div class="inbox-page">
            <h4>Today</h4>
            <div class="inbox-row widget-shadow" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="mail "> <input type="checkbox" class="checkbox"> </div>
              
              <div class="mail mail-name"> <h6>Alexander</h6> </div>
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="mail"><p>Nullam quis risus eget urna mollis ornare accusamus terry </p></div>
              </a>
              
              <div class="mail-right"><p>30th Nov</p></div>
              <div class="clearfix"> </div>
          
            </div>
            <div class="inbox-row widget-shadow" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="mail "> <input type="checkbox" class="checkbox"> </div>
              
              <div class="mail mail-name"> <h6>Alexander</h6> </div>
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="mail"><p>Nullam quis risus eget urna mollis ornare accusamus terry </p></div>
              </a>
              
              <div class="mail-right"><p>30th Nov</p></div>
              <div class="clearfix"> </div>
          
            </div>
            <div class="inbox-row widget-shadow" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="mail "> <input type="checkbox" class="checkbox"> </div>
              
              <div class="mail mail-name"> <h6>Alexander</h6> </div>
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="mail"><p>Nullam quis risus eget urna mollis ornare accusamus terry </p></div>
              </a>
              
              <div class="mail-right"><p>30th Nov</p></div>
              <div class="clearfix"> </div>
          
            </div>
            </div>
            </div>
            <div class="panel-default  widget-shadow">
              <div class="panel-heading head">
                Inbox 
              </div>
              <div class="inbox-page">
            <h4>Today</h4>
            <div class="inbox-row widget-shadow" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="mail "> <input type="checkbox" class="checkbox"> </div>
              
              <div class="mail mail-name"> <h6>Alexander</h6> </div>
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="mail"><p>Nullam quis risus eget urna mollis ornare accusamus terry </p></div>
              </a>
              
              <div class="mail-right"><p>30th Nov</p></div>
              <div class="clearfix"> </div>
          
            </div>
            <div class="inbox-row widget-shadow" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="mail "> <input type="checkbox" class="checkbox"> </div>
              
              <div class="mail mail-name"> <h6>Alexander</h6> </div>
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="mail"><p>Nullam quis risus eget urna mollis ornare accusamus terry </p></div>
              </a>
              
              <div class="mail-right"><p>30th Nov</p></div>
              <div class="clearfix"> </div>
          
            </div>
            <div class="inbox-row widget-shadow" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="mail "> <input type="checkbox" class="checkbox"> </div>
              
              <div class="mail mail-name"> <h6>Alexander</h6> </div>
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="mail"><p>Nullam quis risus eget urna mollis ornare accusamus terry </p></div>
              </a>
              
              <div class="mail-right"><p>30th Nov</p></div>
              <div class="clearfix"> </div>
          
            </div>
            </div>
            </div>
           
          </div>
  </div>
  
  
  
  </div>
  </div>